
body {
	background: #ddd;
	font-size:100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
	font-size: 2.33em;
	font-weight: bolder;
	margin-top:0;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

h3 {
	font-size: 1.66em;
	font-weight: normal;
}

p, ul, ol {
	line-height: 1.5em;
	font-size: 14pt;
}

#Content {
	width: 90%;
	margin:0 auto;
}

#Menu {
	background-color: #005e91;
	border-top:1px solid #111;
	border-bottom:1px solid #111;
}

#Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Menu li {
	float: left;
	border-right: 1px solid #111;
	font-weight: bold;
	width: 100px;
}

#header-cart-item {
	border-left: 1px solid #111;
}

#Menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

#Menu li a:hover {
	background-color: #003450;
}

#PageContent {
	background: #efefef;
	padding: 18px 32px;
}

header, footer {
	text-align:center;
	background: #ffa41a;
	color: #ffffff;
}

header {
	border-radius: 6px 6px 0 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bolder;
}

header span {
	font-size: 2.66em;
	padding: 18px;
	display:block;
}

footer {
	border-radius: 0 0 6px 6px;
}

footer span {
	padding: 18px;
	display: block;
}

table {
	width: 80%;
	margin:0 auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:10pt;
}

table, tr, td {
	border:1px solid #ccc;
}

table thead {
	background: #333;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

table tr td, table tr th {
	padding: 6px;
}

input, select {
	padding:6px;
	border-radius:3px;
	border:1px solid #ccc;
}

table tr td:first-child {
	width:150px;
}

textarea {
	font-family: Georgia, 'Times New Roman', Times, serif;
	width:100%;
	height:100px;
}

#Request table,
#Request table tr,
#Request table td {
	border:0;
	padding:3px;
}

#Request table {
	border:2px solid #666;
	border-radius:6px;
	background:#fff;
}

#Request table label {
	font-weight:bold;
}

#Response p {
	line-height:1.33em;
}

#Books table {
	background: #fff;
}

#book-header-row {
	height: 25px;
}

.book-row {
	cursor: pointer;
	height: 45px;
}

.book-row:hover td {
	background-color: #919191;
}

#Book {
	overflow: auto;
}

#Book h1 {
  font-size:3em;
  margin:0;
  margin-bottom:9px;
}

#BookByLine {
  font-style: italic;
}

#BookCover {
  width:auto;
  float:left;
}

#BookNotes {
  font-size:1.1em;
  line-height: 1.25em;
}

#BookSubjects {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.subject-item {
	background: #ffa41a;
	height: 20px;
	color: #ffffff;
	padding: 6px 12px;
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subject-item:hover {
	background: #c77700;
}

#header-title-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 10px;
	max-height: 125px;
	padding: 12px;
}

#title-text {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#headerimage {
	height: 100px;
}

#nav-organization {
	display:flex;
	flex-grow: 2;
}

#header-main-items {
	min-width: 425px;
}

#header-cart-button {
	display: flex;;
	justify-content: right;
	width: 100%;
}

#content-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
	border-radius: 6px;
	border: 2px solid #666;
	min-height: 500px;
	margin: 10px;
	padding: 10px;
}

#back-button-container {
	display: flex;
	justify-content: left;
	margin: 10px;
}

#clear-cart-container {
	display: flex;
	justify-content: left;
}

#title-container {
	border-radius: 6px;
	border: 2px solid #666;
	margin: 10px;
	padding: 10px;
}

#image-container {
	display: flex;
	justify-content: left;
	align-items: center;
}

#details-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 10px;
}

#actions-container {
	display: flex;
	justify-content: center;
	margin: 20px;
	gap: 10px;
}

.book-detail-label {
	font-weight: bold;
}

#action-button {
	height: 40px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	background: #005e91;
	color: white;
	padding: 0 20px;
	border-radius: 6px;
	border: 1px solid #333;
}

#action-button:hover {
	background: #003450;
}

.back-button {
	width: 100px;
}

#about-page-layout {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 20px;
	margin: 10px;
	padding: 10px;
}

#about-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-image {
	max-width: 350px;
}

.homepage-section {
	text-align: center;
}

.homepage-book-section-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.homepage-book-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.book-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border : 2px solid #666;
	border-radius: 6px;
	padding: 10px;
	min-height: 385px;
	width: 350px;
}

.book-image {
	height: 250px;
}

.book-title {
	margin:5px;
}

.book-author {
	font-style: italic;
	margin:5px;
}

.homepage-book-actions {
	display: flex;
	gap: 10px;
	flex-direction: row;
}

#stats-table {
	width: 500px;
}

